:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  list-style:none;
  border: none;
}

main {
  background-color: #fefefe;
}

li > a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  color: #fefefe;
}

// container Header
header {
  display: flex; // met le header en flex
  min-height: 100vh; // permet d'occuper tous l'espace disponible


//----* Avatar *----
.image {
  text-align: center;
  margin: 2rem 0;
}
  .avatar {
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 90%;
    width: 50%;
    margin: 0;
  }


//----* Sidenav *----
  .sidenav {
    background-color: #2f435e;


    // ul du nav
    .list-sidenav {
      padding: 1rem;
      border-bottom: 1px solid white;
      border-top: 1px solid white;


      // all li
      .sidenav-home,
      .sidenav-competence,
      .sidenav-experience,
      .sidenav-portofolio,
      .sidenav-contact {
        height: 4rem;

      }

      // all li
      .sidenav-home > a,
      .sidenav-competence > a,
      .sidenav-experience > a,
      .sidenav-portofolio > a,
      .sidenav-contact > a, {
        height: 4.5rem;
        line-height: 60px;
        color: #ececec;
      }

      .sidenav-home:hover,
      .sidenav-competence:hover,
      .sidenav-experience:hover,
      .sidenav-portofolio:hover,
      .sidenav-contact:hover {
        background-color: #487564;
      }

      // all li
      .sidenav-home > a:hover,
      .sidenav-competence > a:hover,
      .sidenav-experience > a:hover,
      .sidenav-portofolio > a:hover,
      .sidenav-contact > a:hover {
        color: #cdcdcd;
      }

      //----* Bouton burger *----
    }
//----* 3 Projet *----

    // Liste des projets
    .project-list {
      color: #ececec;
      padding: 1rem;
      list-style: none;

      // 1 er projet
      .project-1 {
        padding: 1rem;
      }

      // Second projet
      .project-2 {
        padding: 1rem;
      }

      // Dernier projet
      .project-3 {
        padding: 1rem;
      }
    }
  }
}

//----* Container Flex *----
.container-home {
  display: flex;
  flex-direction: row-reverse;

  .right-container {
    width: 100%;
    background-color: #201b22;
    color: #DCDCDC;

    //----* Container qui contient les informations personnels *----
    .name-work{

      h1 {
        text-align: center;
        padding: 1rem;
      }

      h2 {
        text-align: center;
        padding: 1rem;
      }

    }

    //----* Container du paragraphe de présentation *----
    .home-text {
      text-align: center;
      padding: 1rem;
      margin-bottom: 5rem;

        p {
          width: 30%;
          margin: auto;
        }
    }


    //----* Container de téléchargement du pdf *----
    .pdf-dl {
      display: flex;
      background-color: #fefefe;
      justify-content: center;
      width: 10rem;
      height: 10rem;
      align-items: center;
      margin: auto;
      padding: 1rem;


      a {
        text-decoration: none;
        color: black;
      }
    }
  }


// Container wrapper Compétence
  .competence-container-w,
  .experience-formation-container-w{
    //border: blue solid 2px;
    display: flex;
    width: 100%;
    height: 100%;
    //background: linear-gradient(to right, #12C2E9B3, #C471EDB3, #F64F59B3);// B3 = 70% d'opacité CC = 80% d'opacité FF = 100% 00 = 0%


  //  Container language dans la page compétence
  .language,
  .framework,
  .other
  {
    //border: red solid 2px;
    width: 33%;
    text-align: center;
  }


    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

//  Coloration des Icones de la page compétence

    .item-html svg {
      color: orange;
      font-size: 20px;
    }

    .item-css svg {
      color: lightblue;
      font-size: 20px;
    }

    .item-js svg {
      color: yellow;
      font-size: 20px;
    }

    .item-ts svg {
      color: #0076c6;
      font-size: 20px;
    }

    .item-php svg {
      color: purple;
      font-size: 25px;
    }

    .item-mysql svg {
      color: lightblue;
      font-size: 25px;
    }

    .item-c-plus-plus svg {
      color: #6295cb;
    }

    .item-symfony svg {
      color: #fefefe;
      font-size: 20px;
    }

    .item-wordpress svg {
      color: lightblue;
      font-size: 20px;
    }

    .item-react svg {
      color: aqua;
      font-size: 20px;
    }

    .item-angular svg {
      color: red;
      font-size: 20px;
    }

    .item-laravel svg {
      color: #f72617;
      font-size: 20px;
    }

    .item-lando svg {
      color: mediumvioletred;
      font-size: 20px;
    }

    .item-docker svg {
      color: #2391e6;
      font-size: 20px;
    }

    .item-gitlab svg {
      color: orange;
      font-size: 20px;
    }

    .item-heroku svg {
      color: violet;
      font-size: 20px;
    }

    .item-discord svg {
      color: #5562ea;
      font-size: 20px;
    }

    .item-ubuntu svg {
      color: #f76810;
      font-size: 20px;
    }
    .item-arduino svg {
      color: #009297;
      font-size: 20px;
    }
  }


  // Page Formation et experience

  // Container experience professionnel

    .experience-professionnel {

    }

  // Container formation
  .formation {
    flex-grow: 1;
    text-align: center;
  }
}


